@{
    ViewData["Title"] = "Home Page";
}


<body>
    <div class="text-center">
        <h1 class="display-3">Bienvenido! </h1>
        @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    </div>
    <div class="text-center">
        <h4>Seleccion lo que quiera</h4>
    </div>

    <div class="text-center">
        
        <button class="btn btn-primary" type="button">Crear Usuario</button> 
        <button class="btn btn-primary" type="button">Ir al Listado</button>
    </div>
</body>

