@{
    ViewData["Title"] = "Home Page";
}


<body>
    <div class="text-center">
        <h1 class="display-3">Bienvenido! </h1>
        @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    </div>
    <div class="text-center">
        <h4>Seleccione la opcion que quiera</h4>
    </div>

    <div class="text-center">
        
        <a asp-controller="Usuario" asp-action="Create" class="btn btn-primary" role="button" aria-pressed="true">Crear Usuario</a> 
        <a asp-controller="Usuario" asp-action="Index" class="btn btn-info" role="button" aria-pressed="true">Ir al Listado</a> 
    </div>
</body>

